.btn-gradient-primary {
  background-image: $gradient;
}

.btn-large {
  border-radius: 5px;
}
.btn-contained {
  color: #ffffffff !important;
}

.filter-btn {
  border: 1.5px solid #e8e6e6 !important;
  width: 56px;
  height: 48px;
}
.btn.dbl-primary-btn p {
  letter-spacing: 1.5px;
}
