.custom-checkbox {
  input {
    &:checked {
      background-color: $primary-400;
      border-color: $primary-300;
      box-shadow: 0 0 0 0.25rem rgb(247 228 221 / 16%);
    }
    &:focus {
      border-color: $primary-100;
    }
  }
}
